<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MessageBoard</title>
	<link href="../static/css/bootstrap.css" rel="stylesheet" >
	<link href="../static/css/wall.css" rel="stylesheet"></head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Message Board</a>
			</div>
		</div>
	</nav>
	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-xs-12 page-header">
				<h1>
					<span class="glyphicon glyphicon-heart"></span>
					爱心墙
					<span class="glyphicon glyphicon-heart"></span>
				</h1>

				<p class="lead">我们的爱之墙，留下你的脚迹.</p>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-pencil"></span>
							Leave a Message
						</h3>
					</div>
					<div class="panel-body">
						<form action="/post" method="post" id="message-form">
							<div class="form-group">
								<label for="exampleInputEmail1">Your name</label>
								<input class="form-control" name="n" id="InputName" placeholder="your name"></div>
							<div class="form-group">
								<label for="exampleInputEmail1">Your comment</label>
								<textarea class="form-control" name="m" id="message"
                        placeholder="Enter message"></textarea>
							</div>
							<button id="message-send" type="submit" class="btn btn-primary">Submit</button>
							<button id="message-reset" type="button" class="btn btn-info">Clear</button>

							<p id="sent-result" class="alert alert-success"></p>
							<p id="sent-fail" class="alert alert-danger"></p>
						</form>
					</div>

				</div>
			</div>

			<div class="col-xs-12 col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-list-alt"></span>
							Messages
						</h3>
					</div>
					<div class="panel-body">
						<ul class="list-group" id="message-container">
							<li class="list-group-item">Placeholder message</li>
							{% for greeting in greeting_list%}
							<li class="list-group-item">
								{{greeting.name}} 留言于 ({{greeting.create_at}})
								<p>{{greeting.comment}}</p>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; David-Guo 2015</p>
				</div>
			</div>
		</footer>
		<!-- /.row -->
	</div>
	<!-- /.container -->

	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<!-- jQuery v1.11.0 -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Bootstrap's JS -->
	<script src="../static/js/wall.js"></script>
	<!-- Message Wall JS -->

</body>
</html>